[Unit]
After=network-online.target
Description="ESP32 sensors bring up"

[Service]

User=ubuntu
Group=ubuntu
ExecStart=/bin/bash -c 'source /etc/turtlebot4/setup.bash; source /home/ubuntu/data_harvester_ws/install/setup.bash; ros2 launch data_harvester_perception esp32_sensors_launch.py;'
RemainAfterExit=no
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target